.hourly_weather_forecast{
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.components{
  background-image: url('https://play-lh.googleusercontent.com/aVME3KHn9RdE_JNTg3QrUgxSPEuC6x5bXxok3PnbYGVSlA_Dp0lTmAES0YF9GEQw1Gw');
  background-repeat: no-repeat;
  background-size:100%;
}
